@model WFS.WebSite4.Areas.Admin.Models.FoodCategoryListViewModel

@foreach (var item in Model.Categories) {
    <div class="panel">
        <div class="row">
            <div class="four columns">
                @item.Name
            </div>
            <div class="four columns">
                @item.CategoryType.ToString()
            </div>
            <div class="two columns">
                <a href="javascript:void(0)" msclick="category.edit" data-id="@item.FoodCategoryId">Edit/View</a>
            </div>
            <div class="one columns end">
                @Html.RouteLink("Delete", "Admin_FoodCategory_DeleteFoodCategory", new { FoodCategoryID = item.FoodCategoryId })
            </div>

        </div>
    </div>
}