@model WFS.WebSite4.Areas.Admin.Models.FoodCategoryListViewModel
<p>
	<a href="javascript:void(0)" msclick="category.add" data-vendor-id="@Model.VendorId">Add New Food Category</a>
</p>
<div id="foodCategoryListPanel">
@{ Html.RenderPartial("FoodCategoryList", Model); }
</div>
