<div id="modalConfirm"  class="reveal-modal">
	<h2>Confirm</h2>
	<h6 id="modalConfirmTitle"></h6>
	<div class="row">
		<div class="twelve columns">
			<a href="#" id="confirmYesLink" msclick="ms.modal.confirmF" data-value="YES" class="radius button">Yes</a>
			<a href="#" id="confirmNoLink" msclick="ms.modal.confirmF" data-value="NO" class="radius button">No</a>
			<a href="#" id="confirmCancelLink" msclick="ms.modal.confirmF" data-value="CANCEL" class="radius button">Cancel</a>
		</div>
	</div>
</div>