@using WFS.WebSite4.Models
@if (Request.IsAuthenticated)
{
    <div>
        Welcome @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Change password" })
		@Html.RouteLink("Logout", "LogOff", new { }, new { @class = "radius success button small" })
    </div>
}
else
{
	<div>
		<a href="#" class="radius success button small" data-reveal-id="loginModal" id="loginLink">Login</a>
		@Html.RouteLink("Sign Up", "Register", new { }, new { @class = "radius success button small" })
	</div>
	<div id="loginModal" class="reveal-modal">
	@if (Model == null)
	  {
		  Html.RenderPartial("~/Views/Account/Login.cshtml");
	  }
	  else
	  {
		  Html.RenderPartial("~/Views/Account/Login.cshtml", ((WFS.WebSite4.Models.ILoginConverter)Model).GetLoginModel());
	  }
		
	</div>
}
