# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
*\obj
*\bin
*\Debug
*\Release

# Visual Studio Files
*.dep 
*.aps 
*.vbw 
*.suo 
*.obj 
*.ncb 
*.plg 
*.bsc 
*.ilk 
*.exp 
*.sbr 
*.opt 
*.pdb 
*.idb 
*.pch 
*.res 
*.user

# mstest test results
TestResults
./Resharp*