Add Edit Window



<div class="row">
	<div class="six columns"></div>
	<div class="six columns end right">
		<a href="#" id="save-link" msclick="customerprofile.saveProfile" class="radius button">Save</a>&nbsp;&nbsp;&nbsp;
		<a href="#" class="close-reveal-modal radius button">Cancel</a>
	</div>
</div>