@model WFS.WebSite4.Areas.Customer.Models.OrderProfileViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutPageCustomer.cshtml";
}

<h2>Ordering Profiles</h2>
@Html.HiddenFor(model => model.MembershipId, new { @id = "membershipId" })
@Html.HiddenFor(model => model.UserId, new { @id = "userId" })

<p class="p_t5">
	<a href="javascript:void(0)" msclick="customerprofile.showAddProfile"  data-id="@Model.UserId">Add New Profile</a>
</p>


<div id="modalEdit" class="reveal-modal">
</div>

<div id="profileMessagePanel"></div>

<div id="profileListPanel">
</div>


@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/customer/profiles")
}