@model WFS.WebSite4.Models.RegisterModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl })) {
       
        <h2>Please login below</h2>
        <div class="row">
            <div class="ten rows centered">
                @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")
            </div>
        </div>

        <div class="row p_t5">
            <div class="four columns">
                <label class="right inline">Email: </label>
            </div>

            <div class="seven columns end">
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
        <div class="row p_t5">
            <div class="four columns">
                <label class="right inline">Password: </label>
            </div>

            <div class="seven columns end ">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
    
        <div class="row p_t5">
            <div class="four columns">
                <label class="right inline p_t5">Remember Me: </label>
            </div>
            <div class="seven columns end">
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
        </div>  

        <div class="row p_t5">
            <div class="four columns">
            </div>
            <div class="seven columns end">
                <input type="submit" class="medium success button right" value="Log in" />
            </div>
        </div>  
}
