Terms Go Here

<div class="row">
    <div class="eight columns">
        Do you Agree to the Terms and Conditions?
    </div>
	<div class="twelve columns">
		<a href="#" id="confirmYesLink" msclick="home.createAccount" data-value="YES" class="radius button">Yes</a>
		<a href="#" class="close-reveal-modal radius button">No</a>
	</div>
</div>