
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h4>User Search</h4>
		@{Html.RenderPartial("SearchControl", new WFS.WebSite4.Areas.Admin.Models.UserSearchModel());}


<div id="modalEdit" class="reveal-modal largeReveal">
</div>

        
<div id="searchResults" class="">
</div>



@section scripts{
	@System.Web.Optimization.Scripts.Render("~/bundles/admin/user")
}