@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>About Us</h1>
    <div class="clear"></div>
    <h2>Wholesome Food. Healthy Fundraisers.</h2>
</hgroup>

<article>
    <p>
        Our Kids Our Schools began as a grassroots effort in Colorado to provide healthy fundraising and lunch options for students, staff and the community. Partnered with Whole Foods Market, OKOS provides schools opportunities for healthy fundraising events. The fundraisers, along with healthy lunch options for parents, students and staff who normally pack their lunches, earn revenue for the schools.
    </p>
    <p>
        The parents and nutrition experts who started Our Kids Our Schools made it their goal to provide real, fresh food choices for students and staff. All lunches, beverages and cookie dough for fundtraisers are free of dyes, preservatives, unhealthy additives, and are never fried. We offer the highest quality food choices and provide delicious, healthy options at reasonable prices. Theses items have a fully transparent, clear and complete ingredient list.
    </p>
    <p>
        <strong>Our Kids Our Schools offers:</strong>
    </p>
    <ul>
        <li>Highest quality natural and organic products available.</li>
        <li>Healthy Fundraisers provide an easy way for parents and community members to raise money for schools and programs while helping students and staff live healthier lives.</li>
        <li>Healthy, wholesome, fresh lunches, snacks and catered items delivered to schools for students and staff.</li>
    </ul>
</article>

<aside>
    <div class="border">
        <img src="@Href("/content/images/heart_lunch_bag.png")" alt="lunch bag">
            <p>
                "One of the greatest gifts we can give our kids is the gift of health. Kids who are healthy are more active, have more fun and are more effective learners.&nbsp; OKOS provides an effective tool to ensure my kids get a nourishing lunch.."
                <br>
                <span>Jeff Olson: Father of three, Olympian, business and social entrepreneur</span>
            </p>
    <div class="clear"></div>
    </div>
</aside>