@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div class="row">
                Welcome to Wholesome Food Service.
            </div>

            <div class="row p_t10">
                <div class="four columns">
                    <img src="../../Content/images/WFSLogo.png" />                                    
                </div>
                <div class="eight columns">
                    <ul>
                        <li>Does your child go to a school were lunch is provided by Wholesome Food Services?</li>
                        <li>Do you work at a company that Wholesome Food Services delivers to?</li>
                        <li>If so, registration is one click away to ordering fantastic meals delivered right to your school or place of business!</li>
                    </ul>
                </div>
            </div>

            <div class="row p_t20">
                <div class="seven columns">
                    <ul>
                        <li>Fresh, healthy lunches delivered to your child's school</li>
                        <li>Free of dyes, preservatives, additives and hidden ingredients</li>
                        <li>Wholesome lunches and snacks that you choose</li>
                        <li>Easy ordering process</li>
                        <li>Convenient, secure credit card payment</li>
                        <li>Menus approved by Dr. David Katz, MD, Director and Co-Founder Yale Prevention Research Center</li>
                    </ul>                
                </div>
            </div>

            <div class="row p_t20">
                <div class="six columns">
                    <div class="row">
                        <div class="six columns centered">
                            Want to join or sign up your school/company?
                        </div>
                    </div>
                </div>
     
                <div class="six columns">
                    <div class="row">
                        <div class="six columns centered">
                            Already a Member?
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
}


