@model WFS.WebSite4.Areas.Admin.Models.FoodOptionsListViewModel

@foreach (var item in Model.Options) {
    <div class="panel">
        <div class="row">
            <div class="eight columns">
                @item.Name
            </div>
            <div class="two columns">
                <a href="javascript:void(0)" msclick="foodOption.edit" data-id="@item.FoodOptionId">Edit/View</a>
            </div>
            <div class="one columns end">
                @Html.RouteLink("Delete", "admin.foodoption.deletefoodoption", new { FoodOptionID = item.FoodOptionId })
            </div>

        </div>
    </div>
}