#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
    border-radius: 10px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid red;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

legend
{
	color: Black;
}
h2 { color: Black !important; }