@model WFS.WebSite4.Areas.Admin.Models.SchoolsViewModel

@{
    ViewBag.Title = "Schools";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="javascript:void(0)" msclick="school.add">Add New School</a>
</p>

<div id="modalEdit" class="reveal-modal">
</div>
<div id="listMessagePanel"></div>

<div id="schoolList">
    @{Html.RenderPartial("LoadingView");}
</div>

@section scripts{
	@System.Web.Optimization.Scripts.Render("~/bundles/admin/school")
}