@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>admin dashboard</h2>

<div id="ticketList"></div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/admin")
}
